html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

body > .content-wrapper {
	flex: 1; /* 본문이 영역을 꽉 채우게 */
	display: flex;
	flex-direction: column;
}

footer {
	margin-top: auto; /* footer를 가장 아래로 밀어냄 */
	width: 100%;
	text-align: center;
	padding: 50px 0;
	background-color: #f9f9f9;
	color: black;
}

#scrollTopBtn {
	display: none; /* 처음엔 숨김 */
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 15px;
	border-radius: 50%;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
	transition: background-color 0.3s;
}

#scrollTopBtn:hover {
	transform: translateY(-12px);
    box-shadow: 0 14px 35px rgba(0, 0, 0, 0.25);
}
